---
import Footer from '@components/Footer';
import Header from '@components/Header';
---

<html>
  <head>
    <meta charset="utf-8">
    <title>タイトルです</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="dark:bg-primary bg-slate-200 dark:text-gray-100">
    <!-- メインの要素が足りないときにフッター下部に隙間ができるのを防ぐ -->
    <div class="min-h-screen grid grid-rows-[auto_1fr_auto] grid-cols-[100%]">
      <Header />
      <main class="flex-1">
        <slot /> <!-- your content is injected here -->
      </main>
      <Footer/>
    </div>
  </body>
</html>

